<div class = "container">
	<h2> Dr. Peter Sershon </h2>
	<h4> 1104813138 </h4>
</div>

<div class = "panel panel-default">
		<div class="col-md-3"><h3>Procedure</h3></div>
		<div class="col-md-2"><h3>Total</h3></div>
		<div class="col-md-5"><h3>Percent of all Procedures</h3></div>
		<div class="col-md-2"></div>

		<div class="col-md-3"><h4>Checkup</h4></div>
		<div class="col-md-2"><h4>586</h4></div>
		<div class="col-md-5"><h4>
			<div class="progress">
  				<div class="progress-bar" role="progressbar" style="width: 78%;"></div>
			</div>
		</div>
		<div class="col-md-2"><h4>78%</h4></div>

		<div class="col-md-3"><h4>Checkup</h4></div>
		<div class="col-md-2"><h4>586</h4></div>
		<div class="col-md-5"><h4>
			<div class="progress">
  				<div class="progress-bar" role="progressbar" style="width: 78%;"></div>
			</div>
		</div>
		<div class="col-md-2"><h4>78%</h4></div>

		<div class="col-md-3"><h4>Checkup</h4></div>
		<div class="col-md-2"><h4>586</h4></div>
		<div class="col-md-5"><h4>
			<div class="progress">
  				<div class="progress-bar" role="progressbar" style="width: 78%;"></div>
			</div>
		</div>
		<div class="col-md-2"><h4>78%</h4></div>

		<div class="col-md-3"><h4>Checkup</h4></div>
		<div class="col-md-2"><h4>586</h4></div>
		<div class="col-md-5"><h4>
			<div class="progress">
  				<div class="progress-bar" role="progressbar" style="width: 78%;"></div>
			</div>
		</div>
		<div class="col-md-2"><h4>78%</h4></div>

		<div class="col-md-3"><h4>Checkup</h4></div>
		<div class="col-md-2"><h4>586</h4></div>
		<div class="col-md-5"><h4>
			<div class="progress">
  				<div class="progress-bar" role="progressbar" style="width: 78%;"></div>
			</div>
		</div>
		<div class="col-md-2"><h4>78%</h4></div>
		
</div>

<%= HTTParty.get('https://data.cms.gov/resource/5fnr-qp4c.json?npi=1104813138') %>



