<div class="jumbotron center">
	<h1>Get Your Medicare Claims Profile</h1>
	
		<%= form_tag(index_path, method: "get") do %>
		  <%= label_tag :npi, "My NPI is:", class: "h3" %>
		  <%= text_field_tag :npi %>
		</br>
		</br>
		  <%= button_tag "See My Claims", class: 'btn btn-primary btn-lg' %>
		<% end %>

</div>
